* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.board_list_wrap {
    padding: 50px;
}
.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}
.board_list_head {
    border-top: 2px solid green;
    border-bottom: 1px solid #ccc;
}
.board_list_body .item {
    border-bottom: 1px solid #ccc;
}
.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}
.board_list_head > div {
    font-weight: 600;
}
.board_list .no_num {
    width: 10%;
}
.board_list .no_tit {
    width: 55%;
    position: relative;
    z-index: 15;
}
.board_list_body div.no_tit {
    text-align: center;
}
.board_list_body div.no_tit a:hover {
    text-decoration: underline;
}
.board_list .no_writer {
    width: 10%;
}
.board_list .no_date {
    width: 15%;
}
.board_list .no_view {
    width: 10%;
}
/* paging */
.paging {
    margin-top: 30px;
    text-align: center;
}
.paging a {
    display: inline-block;
    vertical-align: middle;
}
.paging a.bt {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image: url("{% static 'images/page_bt.png' %}");
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}
.paging a.bt:hover {
    background-color: #999;
}
.paging a.first {
    background-position: 10px -40px;
}
.paging a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}
.paging a.next {
    margin-left: 5px;
    background-position: -40px 10px;
}
.paging a.last {
    background-position: -40px -40px;
}
.paging a.no_num {
    margin: 0 5px;
}
.paging a.no_num.on {
    color: green;
}
.paging a.no_num:hover {
    text-decoration: underline;
}